# SPDX-License-Identifier: Apache-2.0
# Copyright 2022-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch_name }}

      - name: Setup environment (Hugepages)
        run: |
          sudo sysctl -w vm.nr_hugepages=512

      - name: Setup dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ccache libbpf-dev libgflags-dev libpcap-dev libgrpc++-dev \
            python3-coverage python3-grpcio python3-protobuf python3-scapy python3-pyroute2
          yes n | ./env/rebuild_images.py noble64
          sudo mkdir -p /mnt/huge
          sudo mount -t hugetlbfs nodev /mnt/huge
          ccache -s

      - name: Build BESS
        run: |
          sudo ./container_build.py bess
          sudo ./container_build.py kmod_buildtest

      - name: Setup runtime libraries
        run: |
          sudo ldconfig
          if [ ! -f /usr/lib/x86_64-linux-gnu/libbpf.so.0 ]; then
            sudo ln -s /usr/lib/x86_64-linux-gnu/libbpf.so.1 /usr/lib/x86_64-linux-gnu/libbpf.so.0
          fi

      - name: Test BESS
        run: |
          (cd core && ./all_test)
          coverage run -m unittest discover -v
          python3 bessctl/run_module_tests.py
          sudo python3 bessctl/run_module_tests.py --test_dir bessctl/module_tests/cndp
          ccache -s
          ./bessctl/bessctl daemon stop
          [[ ${COVERAGE:-0} == 0 ]] || { sleep 3; codecov --gcov-exec gcov-7; }
