# SPDX-License-Identifier: Apache-2.0
# Copyright 2024-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - main
    paths:
      - "core/**"
      - "bessctl/**"
      - "protobuf/**"
      - "pybess/**"
      - "deps/**"
      - "env/Dockerfile"
      - "env/*.yml"
      - "env/requirements*.txt"
      - "build.py"

permissions:
  contents: read

jobs:
  bess-release-image:
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    runs-on: ubuntu-latest
    if: github.repository_owner == 'omec-project'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to GitHub Container Registry
        env:
          DOCKER_REGISTRY: "ghcr.io/"
          DOCKER_REPOSITORY: ${{ github.repository_owner }}/
        run: yes y | ./env/rebuild_images.py noble64
